<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
<listeners>
    <listener class-name="utils.SuiteListener" />
</listeners>
<test name="Test Automation">
	<parameter name="browserName" value="chrome">
	<classes>
		<class name="ui.NewTest"/>
	</classes>
	</parameter>
</test>
</suite>